*{ margin: 0; 
   padding: 0; 
}

@media all and (min-width: 200px) and (max-width: 768px){
	.title{
		font-size: 1.2rem;
	}
}

@media all and (min-width:  768px) and (max-width:  1500px){
	body{
		background-color: #F0A1BB;
	}
}

body{
	background-color: #fff;
	font-family:'Roboto';
	backdrop-filter: blur(2px);
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;	
}

.title{
	text-align: center;
	font-family:'Roboto';
	color: #1d3557;
}

nav{
	text-align: center;
}

nav li{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	margin: 0;
}

nav a{
	text-decoration: none;
	font-weight: bold;
	padding: 50px;
}

a{
	font-family: sans-serif;
	color: #1d3557;
}

.navBar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.recuadro{
	border: 3px outset #f1faee;
	background-color: #f1faee;
	opacity: 90%;
 
}
.list{ 
	font-family:'Roboto';
	font-size: 20px;
	font-weight: bold;
	color: #1d3557;
}

.text{
	font-family:'Roboto';
	background-color: #f1faee;
	color: #1d3557;
	margin-top: 40px;
	margin-left: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

textarea{
	width: 300px;
	height: 300px;
}
form{
	padding: 6px;
}
input{
	margin-left: 30px;
}

footer{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: beige;

  }

.formularioContainer{
	display: flex;
	justify-content: center;
}

.formulario{
	margin-left: 30px;
	border: 3px outset #f1faee;
	background-color: #f1faee;
	opacity: 90%;
	text-align: initial;
	width: 400px;
	padding-left: 61px;
}

#correo{margin-left: 43px;}

.mensajesContainer{
	display: flex;
	justify-content: center;
}
.mensajes{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: 3px outset #f1faee;
	background-color: #f1faee;
	opacity: 90%;
	text-align: center;
	width: 400px;
	padding: 15px;
}

.recuadro{
	display: flex;
	justify-content: space-evenly;
		}
#grad{
	background-image: linear-gradient(#d8bbff #d0d1ff);
}
